.audio-rec-cvanus {
	height: 100%;
}

.record {
	display: flex;
	height: 61px;
	align-items: center;
}

.player {
	display: flex;
	align-items: center;
}

.input-max {
    width: 100%;
	border: none;
	padding-left: 7px;
}