.audio-rec-cvanus {
	height: 100%;
}

.record {
	display: flex;
	height: 61px;
	align-items: center;
	margin-bottom: 10px;
}

.rec {
	width: 143px;
	height: 61px;
	cursor: pointer;
	
	display: flex;
	justify-content: center;
	align-items: center;
}

.draw-sound {
	width: 16px;
	height: 0;
	background-color: darkcyan;
}



/* list */

.player {
	display: flex;
	align-items: center;
}

.input-max {
    width: 100%;
	border: none;
	padding-left: 7px;
}